node_modules/
www/
dist/
keys/
android/keystore.properties
android/local.properties
android/build/
android/app/build/
android/.gradle/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
.DS_Store
